body
{background-image: linear-gradient(rgba(5,7,12,0.15),rgba(5,7,12,0.85)), url(../css/Fondo.png);
  background-repeat: no-repeat;
  background-position:center center;
  background-size:cover ;
  background-attachment: fixed;
  height: 100%;
  width: 100%;}

  object{background-color: white;}

  .dropdown-menu li {
    position: relative;
    }
    .dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
    }
    .dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
    }
    .dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
    }