body
{background-image: linear-gradient(rgba(5,7,12,0.15),rgba(5,7,12,0.85)), url(../css/Fondo.png);
  background-repeat: no-repeat;
  background-position:center center;
  background-size:cover ;
  background-attachment: fixed;
  height: 100%;
  width: 100%;}

  object{background-color: rgb(252, 248, 248);}

#boxes{ 
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;}

.card{
      display: flex;
      flex-direction: column;
      border-color:rgba(63, 235, 74, 0) ;
      width:20%;
      height:auto;
      border-radius: 5%;
    }

  object{
    border-radius: 5%;
  }