body {
  background-image: linear-gradient(rgba(5, 7, 12, 0.15), rgba(5, 7, 12, 0.85)),
    url(../css/Fondo.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}

object {
  background-color: rgb(82, 106, 138);
}

#boxes {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  border-color: rgba(63, 235, 74, 0);
  width: 40%;
  height: auto;
  border-radius: 10px;
}

object {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#box {
  display: none;
}

.title { 
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
  color: grey; 
  font-size: 18px; 
  font-weight: 400; 
  text-align: center; 
  background: #f0f2f7; 
  margin: 20% 0 25px; 
  overflow: hidden; 
  padding: 20px; 
  border-radius: 35px 0px 35px 0px; 
  -moz-border-radius: 35px 0px 35px 0px; 
  -webkit-border-radius: 35px 0px 35px 0px; 
  border: 4px solid #03c755;}

